<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/include/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/include/styles/style.css"/>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">Test site</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul id="navbar" class="navbar-nav mr-auto">
					<li id="home" class="nav-item">
						<a id="home" class="nav-link" href="/">Home</a>
					</li>
					<li id="linked_text" class="nav-item">
						<a id="linked_text" class="nav-link" href="/tasks/linked-text/">Linked text</a>
					</li>
					<li id="web" class="nav-item">
						<a id="web" class="nav-link" href="/tasks/web/">Web development</a>
					</li>
					<li id="db" class="nav-item">
						<a id="db"class="nav-link" href="/tasks/db/">Database</a>
					</li>
					<li id="arrays" class="nav-item">
						<a id="arrays" class="nav-link" href="/tasks/arrays/">Arrays</a>
					</li>
					<li id="sql" class="nav-item">
						<a id="sql" class="nav-link" href="/tasks/sql/">SQL</a>
					</li>
				</ul>
			</div>
		</nav>
    </header>
    
	<main role="main" class="container">